<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="styles/core/app.css" />
    <link rel="stylesheet" href="styles/modules/SchoolManagement.css" />
    <link rel="stylesheet" href="styles/modules/StudyManagement.css" />
    <link rel="stylesheet" href="styles/modules/Notification.css" />
    <link rel="stylesheet" href="styles/modules/TrainManagement.css" />
    <link rel="stylesheet" href="styles/modules/PrimaryRating.css" />
    <link rel="stylesheet" href="styles/modules/Hub.css" />
    <link rel="stylesheet" href="styles/modules/DailyActivity.css" />
    <link rel="stylesheet" href="styles/modules/NhatKyCuaBe.css" />
    <link rel="stylesheet" href="styles/modules/SoBeNgoan.css" />
    <link rel="stylesheet" href="styles/modules/MealPlan.css" />
    <link rel="stylesheet" href="styles/modules/UpMenu.css" />
    <link rel="stylesheet" href="styles/modules/TeachingPlan.css" />
    <link rel="stylesheet" href="styles/modules/Sync.css" />
    <link rel="stylesheet" href="styles/modules/Setting.css" />
    <link rel="stylesheet" href="styles/modules/NotificationManagement.css" />
    <link rel="stylesheet" href="styles/core/theme-kindergarten.css" />
    <link rel="stylesheet" href="styles/core/compound-pages.css" />
    <link rel="stylesheet" href="styles/core/pages-inline-extracted.css" />
    <link rel="stylesheet" href="styles/modules/ScoreManagement.css" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet" />
    <HeadOutlet /> 
</head>
<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="scripts/chart-manager.js"></script>
    <script src="scripts/meal-plan.js"></script>

</body>
</html>




