@page "/training/sem-sub"
@rendermode InteractiveServer

<PageTitle>Học kỳ & môn học</PageTitle>

<div class="se-sub-page-container se-sub-animate-fade-in cp-page-surface">

    <div class="se-sub-page-header">
        <div class="se-sub-header-icon">
            <span class="material-icons-round">campaign</span>
        </div>
        <div class="se-sub-header-text">
            <h2 class="se-sub-title">Xem môn học, học kỳ</h2>
            <p class="se-sub-subtitle">Xem môn học, học kỳ.</p>
        </div>
    </div>
    <div class="se-sub-tabs-wrapper">
        <div class="se-sub-tab @(ActiveTab == 1 ? "active" : "")" @onclick="() => ActiveTab = 1">
            Học kỳ
        </div>
        <div class="se-sub-tab @(ActiveTab == 2 ? "active" : "")" @onclick="() => ActiveTab = 2">
            Môn học
        </div>
    </div>

    <div class="se-sub-tab-content">
        @if (ActiveTab == 1)
        {
            <AdminWebRemake.Components.Pages.TrainManagement.Semester />
        }
        else if (ActiveTab == 2)
        {
            <AdminWebRemake.Components.Pages.TrainManagement.Subject />
        }
    </div>

</div>

@code {
    private int ActiveTab = 1;
}

