/*.stats-summary-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

@media (min-width: 768px) {
    .stats-summary-row {
        grid-template-columns: repeat(3, 1fr);
    }
}
*/